* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Custom CSS properties */
:root {
    --font-color: #0B0223;
    --primary-color: #FF42A5;
}




/* Navigation Styles */

.nav-bar {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 80px;
}

.logo h1 {
    font-size: 3rem;
    color: var(--font-color);
}

.logo span {
    color: var(--primary-color);
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: var(--font-color);
}

.links div {
    padding: 10px;
    display: flex;
    gap: 10px;
    color: var(--font-color);
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.links div:hover {
    cursor: pointer;
}

/* Banner Styles */
.banner {
    height: 450px;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-text {
    height: 250px;
    width: 26.3vw;
    margin-left: 5vw;

}

.banner-text h2 {
    font-size: 2rem;
}

.banner-text p {
    margin-top: 5px;
}

.banner-text span {
    font-size: 4rem;
    margin-left: -4.5px;
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    background-clip: text;
}

.btn-banner {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner-text button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
}


.banner-img {
    height: 450px;
    width: 40vw;
}

.banner-img img {
    height: 100%;
    width: 100%;
}

/* Online Games Styles */
.online-game {
    height: 440px;
    width: 80vw;
    margin: 0 auto;
    margin-top: 100px;
}

.online-game h2 {
    text-align: center;
    font-size: 2rem;
}

.online-game span {
    font-size: 2rem;
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    background-clip: text;

}

.online-game p {
    text-align: center;
    font-size: .8rem;
    margin-top: 10px;
}

.video-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.video {
    height: 300px;
    width: 240px;
}

.video p {
    text-align: left;
}

.video img {
    height: 100%;
    width: 100%;
}

/* Play Games Styles */
.play-game {
    height: 520px;
    width: 80vw;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.play-game-img {
    height: 440px;
    width: 45%;
}

.play-game-img img {
    height: 100%;
    width: 100%;
}

.play-game-img-x {
    height: 235px;
    width: 16.23%;
    background-color: wh;
    position: absolute;
    margin-top: 280px;
    margin-left: 340px;
}

.play-game-img-x img {
    height: 100%;
    width: 100%;
}

.play-game-text {
    height: 40%;
    width: 37%;
    margin: auto 0;

}

.play-game-text h2 {
    font-size: 2rem;
}


.play-game-text p {
    margin-top: 10px;
    text-align: justify;

}

.play-game-heading-1 {
    color: var(--primary-color);
}

.play-game-heading-2 {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    background-clip: text;
}













/* Responsive CSS commands for Mobiles */

@media screen and (max-width:426px) {

    /* Navigation Section */
    .nav-bar {
        height: 250px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80vw;
    }

    .logo {
        flex-direction: column;
        gap: 10px;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    .links {
        flex-direction: column;
    }

    /* Banner Section Responsive */
    .banner {
        height: 750px;
        width: 90vw;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 50px;

    }

    .banner-img {
        height: 370px;
        width: 100%;
        margin: 0 auto;
    }


    .banner-text {
        height: 250px;
        width: 60%;
        margin: 0 auto
    }

    .banner-text h2 {
        text-align: center;
        font-size: 1.3rem;
    }

    .banner-text p {
        margin-top: 5px;
        margin-left: 15px;
        font-size: .9rem;
    }

    .banner-text span {
        font-size: 2.35rem;
    }

    .banner-text button {
        height: 35px;
        width: 90px;
        border-radius: 20px;
        border: none;
        margin-top: 15px;
        margin-right: 5.5px;
    }

    /* Online Games Section */
    .video-container {

        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        height: 1450px;
    }

    .online-game h2 {
        text-align: center;
        font-size: 1.6rem;
    }

    .online-game span {
        font-size: 1.6rem;

    }

    .online-game p {
        text-align: center;
        font-size: .7rem;
        margin-top: 10px;
    }

    .online-game {
        margin-top: 20px;
    }

    /* Play Games Styles */
    .play-game {
        height: 600px;
        margin-top: 1150px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .play-game-img {
        height: 275px;
        width: 80%;
        margin-right: 60px;
        margin-top: -680px;
    }

    .play-game-img-x {
        height: 180px;
        width: 43%;
        position: relative;
        top: -327px;
        right: 60px;
    }

    .play-game-text {
        height: 400px;
        width: 65%;
        margin: auto 0;

    }

    .play-game-text h2 {
        font-size: 1.5rem;
        text-align: center;
    }


    .play-game-text p {
        margin-top: 10px;
        text-align: center
    }

    .play-game-heading-1 {
        color: var(--primary-color);
    }

    .play-game-heading-2 {
        background-image: linear-gradient(to bottom, #F948B2, #8758F1);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        background-clip: text;
    }


}







/* Responsive CSS commands for tablets */

@media screen and (min-width:426px) and (max-width:769px) {

    /* Navigation Section */
    .nav-bar {
        height: 250px;
        justify-content: space-around;
        align-items: center;
        width: 90vw;
    }

    .logo {
        flex-direction: column;
        gap: 10px;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    .links {
        flex-direction: column;
    }

    /* Banner Section */
    .banner {
        height: 580px;
        width: 90vw;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-between;

    }

    .banner-text {
        height: 250px;
        width: 90vw;
        margin: 0 auto
    }

    .banner-text h2 {
        text-align: center;
    }

    .banner-text p {
        margin-top: 5px;
        text-align: center;
    }

    .banner-text span {
        font-size: 3.5rem;
    }


    .banner-img {
        height: 290px;
        width: 50vw;
        margin: 0 auto;
    }

    .btn-banner {
        height: 60px;
        display: flex;
        justify-content: center;
        gap: 25px;
        align-items: center;
    }

    /* Online Games Section */
    .online-game {
        height: 840px;
        width: 80vw;
        margin-top: 70px;
    }

    .video-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 90px;
        margin-top: 40px;
    }

    /* Play Games Section */

    .play-game-img {
        height: 320px;
        width: 45%;
    }

    .play-game-img-x {
        height: 180px;
        width: 20%;
        background-color: wh;
        position: absolute;
        margin-top: 203.7px;
        margin-left: 205px;
    }
    .play-game-text {
        height: 40%;
        width: 37%;
        margin: auto 0;
        margin-bottom: 280px;
    
    }
    .play-game-text p {
        margin-top: 10px;
        text-align: left;
    
    }




}